body {
background-color: #353535;
color: #e4e4e4;
font-family: 'Source Sans Pro', sans-serif;
margin: 0;
}
h1 {
    text-align: center;
    font-size: 44px;
}
h2 {
    margin-bottom: 5px;
    font-size: 34px;
}
h3 {
    margin-top: 5px;
}
ul {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 140%;
    list-style-type: disc;
}
a:visited {
    color:#e4e4e4
}
.topNav {
    text-decoration: none;
    font-weight: bold;
}
.outerFrame {
max-width: 1500px;
margin: 0 auto;
}

header {
box-sizing: border-box;
display: flex;
background: #242424;
width: 100%;
height: 100px;
}
.headerTop {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.headerRight, .search, .logo {
    width: 33%;
    }
.headerRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchWhat {
    display: flex;
    flex-direction: row;
}
nav {
    background-color: #303030;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 4px;
}
.cara1, .cara2, .cara3 {
    width: 100%;
    height: 2px;
}
.cara1 {
    background-color: #4d4d4d;
}
.cara2 {
    background-color: #6e6e6e;
}
.cara3 {
    background-color: #a5a5a5;
}
.calculator {
box-sizing: border-box;
max-width: 650px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
border: solid black 2px;
}
.calculatorName, .calculatorValue {
width: 20%;
padding: 5px 2px;
border: 1px solid black;
box-sizing: border-box;
text-align: center;
}
.calculatorValue:hover {
cursor: pointer;
background-color: #1b570f;
}
.calculatorName, .calculation {
font-size: 20px;
}
.calculation {
    margin-right: 10px;
}

#finalValue, #pointsValue {
    font-weight: bold;
}
#warning {
    color: red;
    height: 15px;
}

.result {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}